<div class="l-flex l-flex--justify-center g--margin-top-5">
    <div class="c-card g--width-800">
        <div class="c-card__body">

            <div class="l-flex l-flex--justify-between l-flex--align-center g--margin-bottom-5">
                <h3 class="c-card__title">
                    Listado de Categorías
                </h3>

                <a c-button funcion="normal" importancia="primaria" tamano="mediano"
                    routerLink="/categories/new">
                    Crear categoría
                </a>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped align-middle text-center">
                    <thead class="table-light">
                        <tr>
                            <th>ID</th>
                            <th>NOMBRE</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (categories) {
                            @for (category of categories; track category.id) {
                                <tr>
                                    <td>{{ category.id }}</td>
                                    <td class="fw-semibold">
                                        {{ category.name }}
                                    </td>
                                    <td class="l-flex l-flex--justify-center l-flex--gap-2">
                                        <a c-button funcion="alternativa" importancia="secundaria" tamano="pequeno"
                                            routerLink="/categories/{{ category.id }}/edit">
                                            Modificar
                                        </a>
                                        <a c-button funcion="peligrosa" importancia="terciaria" tamano="pequeno"
                                            routerLink="/categories/{{ category.id }}/delete">
                                            Borrar
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>