@use "../../../scss/01_utilities/" as *;

button.boton,
a.boton {
    --boton-color-strong:var(--mlt-sys-color-principal-5);
    --boton-color-weak:var(--mlt-sys-color-blanco-9);

    --boton-background-color:var(--boton-color-strong);
    --boton-border-color:var(--boton-color-strong);
    --boton-text-color: var(--boton-color-weak);

    --boton-font-family: var(--mlt-sys-font-noto-sans-arabic);
    --boton-font-size: var(--mlt-sys-font-size-4);

    --boton-padding: var(--mlt-sys-padding-3);
    --boton-width: var(--mlt-sys-width-1);
    --boton-border-radius:var(--mlt-sys-border-radius-15);

    font-family: var(--boton-font-family);
    font-size: var(--boton-font-size);
    padding: var(--boton-padding);

    border-radius: var(--boton-border-radius);
    border-width: var(--mlt-sys-width-1);
    border-style: solid;

    display: inline-block;
    cursor: pointer;
    text-decoration: none;

    border-color: var(--boton-border-color);
    background-color: var(--boton-background-color);
    color: var(--boton-text-color);

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
  
button.boton--funcion-normal,
a.boton--funcion-normal {
    --boton-border-color: var(--mlt-sys-color-principal-5);
    --boton-background-color: var(--mlt-sys-color-principal-5);
    --boton-text-color: #ffffff;
}
  
button.boton--funcion-alternativa,
a.boton--funcion-alternativa {
    --boton-border-color: var(--mlt-sys-color-gris-5);
    --boton-background-color: var(--mlt-sys-color-gris-5);
    --boton-text-color: #ffffff;
}
  
button.boton--funcion-peligrosa,
a.boton--funcion-peligrosa {
    --boton-border-color: var(--mlt-sys-color-rojo-5);
    --boton-background-color: var(--mlt-sys-color-rojo-5);
    --boton-text-color: #ffffff;
}

button.boton--importancia-primaria,
a.boton--importancia-primaria {
    border-color: var(--boton-border-color);
    background-color: var(--boton-background-color);
    color: var(--boton-text-color);
}

button.boton--importancia-secundaria,
a.boton--importancia-secundaria {
    border-color: var(--boton-border-color);
    background-color: var(--boton-background-color);
    color: var(--boton-text-color);
}

button.boton--importancia-terciaria,
a.boton--importancia-terciaria {
    border-color: var(--boton-border-color);
    background-color: var(--boton-background-color);
    color: var(--boton-text-color);
}

button.boton--tamano-pequeno,
a.boton--tamano-pequeno {
    --boton-font-size: var(--mlt-sys-font-size-3);
    --boton-padding: var(--mlt-sys-padding-2);
}

button.boton--tamano-mediano,
a.boton--tamano-mediano {
    --boton-font-size: var(--mlt-sys-font-size-4);
    --boton-padding: var(--mlt-sys-padding-3);
}

button.boton--tamano-grande,
a.boton--tamano-grande {
    --boton-font-size: var(--mlt-sys-font-size-5);
    --boton-padding: var(--mlt-sys-padding-4);
}