<div class="c-auth l-flex l-flex--column l-flex--align-center l-flex--justify-center">
  <h1 class="c-auth__title g--margin-bottom-7 g--margin-top-9">ARTYHUB</h1>

  <div class="c-auth__card g--padding-8">
    <form class="l-flex l-flex--column l-flex--gap-4" (ngSubmit)="onRegister()">
      <div class="c-auth__form-group">
        <label class="c-auth__form-group-label">*Email:</label>
        <input
          type="email"
          name="email"
          class="c-auth__form-group-input"
          placeholder="ejemplo@gmail.com"
          [(ngModel)]="user.email"
          required
        />
      </div>

      <div class="c-auth__form-group">
        <label class="c-auth__form-group-label">*Contraseña:</label>
        <input
          type="password"
          name="password"
          class="c-auth__form-group-input"
          placeholder="**********"
          [(ngModel)]="user.password"
          required
        />
      </div>

      <div class="c-auth__form-group">
        <label class="c-auth__form-group-label">*Nombre:</label>
        <input
          type="text"
          name="name"
          class="c-auth__form-group-input"
          placeholder="Tu nombre"
          [(ngModel)]="user.name"
          required
        />
      </div>
      <div class="c-auth__form-group">
        <label class="c-auth__form-group-label">*Ciudad:</label>
        <input
          type="text"
          name="address"
          class="c-auth__form-group-input"
          placeholder="Cuenca"
          [(ngModel)]="user.address"
          required
        />
      </div>
      <div class="c-auth__form-group">
        <label class="c-auth__form-group-label">*Link de la imagen de perfil:</label>
        <input
          type="text"
          name="imageProfileUrl"
          class="c-auth__form-group-input"
          placeholder="url"
          [(ngModel)]="user.imageProfileUrl"
          required
        />
      </div>

      <div class="c-auth__form-group">
        <label class="c-auth__form-group-label">Descripción:</label>
        <textarea
          name="description"
          class="c-auth__form-group-input c-auth__form-group-input--textarea"
          placeholder="Soy alguien que busca..."
          [(ngModel)]="user.description"
        >
        </textarea>
      </div>

      <div class="l-flex g--margin-top-4 l-flex--justify-center">
        <button
          c-button
          funcion="normal"
          importancia="primaria"
          tamano="pequeno"
          class="c-auth__button--half"
          type="submit"
        >
          Continuar
        </button>
      </div>
    </form>
  </div>
</div>
