$color-principal: (
  1: #140119,
  2: #300539,
  3: #510B5B,
  4: #6F1278,
  5: #901796,
  6: #B61BB6,
  7: #E01AD9,
  8: #EE2FDE,
  9: #FA47E5
);

$color-alternativo: (
  1: #190A01,
  2: #3D1D05,
  3: #5F330C,
  4: #804C14,
  5: #A2651A,
  6: #C7841F,
  7: #E5A02A,
  8: #F0BB47,
  9: #FBD065
);

$color-azul: (
  1: #1E3B8A,
  2: #1E3FAE,
  3: #1D4FD7,
  4: #2463EB,
  5: #3C83F6,
  6: #61A6FA,
  7: #91C3FD,
  8: #BEDBFE,
  9: #DCEBFE
);

$color-rojo: (
  1: #811D1D,
  2: #981B1B,
  3: #BA1C1C,
  4: #DC2828,
  5: #EF4343,
  6: #F87272,
  7: #FCA6A6,
  8: #FEC8C8,
  9: #FEE1E1
);

$color-verde: (
  1: #064C39,
  2: #066046,
  3: #047756,
  4: #059467,
  5: #10B77F,
  6: #36D399,
  7: #6EE7B7,
  8: #A5F3CF,
  9: #D1FAE5
);

$color-gris: (
  1: #1A1A1A,
  2: #3E3E3E,
  3: #565656,
  4: #676767,
  5: #787878,
  6: #858585,
  7: #929292,
  8: #9F9F9F,
  9: #ABABAB
);

$color-blanco: (
  1: #B5B5B5,
  2: #BFBFBF,
  3: #C9C9C9,
  4: #D3D3D3,
  5: #DDDDDD,
  6: #E6E6E6,
  7: #EFEFEF,
  8: #F7F7F7,
  9: #FFFFFF
);

$color-amarillo: (
  1: #76350F,
  2: #91400D,
  3: #B35309,
  4: #DB7706,
  5: #F59F0A,
  6: #FBBD23,
  7: #FCD44F,
  8: #FDE68B,
  9: #FEF3C8
);

$fonts-map: (
  open-sans: ('Open Sans', Arial, sans-serif),
  noto-sans-arabic: ('Noto Sans Arabic', Arial, sans-serif),
  montserrat-arabic: ('Montserrat', Arial, sans-serif),
  questrial: ('Questrial', Arial, sans-serif),
  default: var(--mlt-sys-font-open-sans)
);

$font-sizes-map: (
  1: 10px,
  2: 12px,
  3: 14px,
  4: 16px,
  5: 18px,
  6: 20px,
  7: 22px,
  8: 24px,
  9: 26px
);

$font-weights-map: (
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700
);

$margin-map: (
  0: 0px,
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 20px,
  6: 24px,
  7: 28px,
  8: 32px,
  9: 36px
);

$padding-map: (
  0: 0px,
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 20px,
  6: 24px,
  7: 28px,
  8: 32px,
  9: 36px,
  10: 40px
);

$border-radius-map: (
  1: 1px,
  2: 2px,
  3: 4px,
  4: 6px
);

$width-map: (
  0: 0px,
  1: 1px,
  2: 4px,
  3: 8px,
  4: 12px,
  5: 16px,
  6: 20px,
  7: 24px,
  8: 28px,
  9: 32px,
  10: 100px,
  100: 100%,
  400: 400px,
  420: 420px,
  500: 500px,
  600: 600px,
  800: 800px,
  1100: 1100px,
  1200: 1200px
);

$height-map: (
  0: 0px,
  1: 1px,
  2: 4px,
  3: 8px,
  4: 12px,
  5: 16px,
  6: 20px,
  7: 24px,
  8: 28px,
  9: 32px,
  10: 100px,
  100: 100%
);

$shadows-map: (
  sm: (0 1px 2px 0 rgb(0 0 0 / 0.05)),
  md: (
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1)
  ),
  lg: (
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1)
  )
);

$gap-map: (
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 20px,
  6: 24px,
  7: 28px,
  8: 32px,
  9: 36px
);

:root {
  @each $name, $value in $color-principal {
    --mlt-sys-color-principal-#{$name}: #{$value};
  }



  @each $name, $value in $color-alternativo {
    --mlt-sys-color-alternativo-#{$name}: #{$value};
  }



  @each $name, $value in $color-azul {
    --mlt-sys-color-azul-#{$name}: #{$value};
  }



  @each $name, $value in $color-rojo {
    --mlt-sys-color-rojo-#{$name}: #{$value};
  }



  @each $name, $value in $color-verde {
    --mlt-sys-color-verde-#{$name}: #{$value};
  }



  @each $name, $value in $color-gris {
    --mlt-sys-color-gris-#{$name}: #{$value};
  }



  @each $name, $value in $color-blanco {
    --mlt-sys-color-blanco-#{$name}: #{$value};
  }



  @each $name, $value in $color-amarillo {
    --mlt-sys-color-amarillo-#{$name}: #{$value};
  }
    

  
  @each $name, $value in $fonts-map {
      --mlt-sys-font-#{$name}: #{$value};
  }



  @each $num, $size in $font-sizes-map {
      --mlt-sys-font-size-#{$num}: #{$size};
  }



  @each $name, $weight in $font-weights-map {
      --mlt-sys-font-weight-#{$name}: #{$weight};
  }



  @each $num, $margin in $margin-map {
      --mlt-sys-margin-#{$num}: #{$margin};
  }



  @each $num, $padding in $padding-map {
      --mlt-sys-padding-#{$num}: #{$padding};
  }



  @each $num, $border-radius in $border-radius-map {
      --mlt-sys-border-radius-#{$num}: #{$border-radius};
  }



  @each $num, $width in $width-map {
      --mlt-sys-width-#{$num}: #{$width};
  }



  @each $num, $height in $height-map {
      --mlt-sys-height-#{$num}: #{$height};
  }



  @each $num, $gap in $gap-map {
      --mlt-sys-gap-#{$num}: #{$gap};
  }



  @each $name, $shadow in $shadows-map {
      --mlt-sys-shadow-#{$name}: #{$shadow};
  }
}