:root {
    --mlt-sys-color-principal-1: #9a3286;
    --mlt-sys-color-principal-2: #a64495;
    --mlt-sys-color-principal-3: #b355a4;
    --mlt-sys-color-principal-4: #bf65b3;
    --mlt-sys-color-principal-5: #cc75c2;
    --mlt-sys-color-principal-6: #d986d1;
    --mlt-sys-color-principal-7: #e596e0;
    --mlt-sys-color-principal-8: #f2a6f0;
    --mlt-sys-color-principal-9: #ffb7ff;



    --mlt-sys-color-alternativo-1: #1C1E01;
    --mlt-sys-color-alternativo-2: #4B520A;
    --mlt-sys-color-alternativo-3: #728019;
    --mlt-sys-color-alternativo-4: #90A72A;
    --mlt-sys-color-alternativo-5: #AFCD42;
    --mlt-sys-color-alternativo-6: #BFDB70;
    --mlt-sys-color-alternativo-7: #D4EC9D;
    --mlt-sys-color-alternativo-8: #E8F9C8;
    --mlt-sys-color-alternativo-9: #FFFFFF;



    --mlt-sys-color-azul-1: #1E3B8A;
    --mlt-sys-color-azul-2: #1E3FAE;
    --mlt-sys-color-azul-3: #1D4FD7;
    --mlt-sys-color-azul-4: #2463EB;
    --mlt-sys-color-azul-5: #3C83F6;
    --mlt-sys-color-azul-6: #61A6FA;
    --mlt-sys-color-azul-7: #91C3FD;
    --mlt-sys-color-azul-8: #BEDBFE;
    --mlt-sys-color-azul-9: #DCEBFE;



    --mlt-sys-color-rojo-1: #811D1D;
    --mlt-sys-color-rojo-2: #981B1B;
    --mlt-sys-color-rojo-3: #BA1C1C;
    --mlt-sys-color-rojo-4: #DC2828;
    --mlt-sys-color-rojo-5: #EF4343;
    --mlt-sys-color-rojo-6: #F87272;
    --mlt-sys-color-rojo-7: #FCA6A6;
    --mlt-sys-color-rojo-8: #FEC8C8;
    --mlt-sys-color-rojo-9: #FEE1E1;



    --mlt-sys-color-verde-1: #064C39;
    --mlt-sys-color-verde-2: #066046;
    --mlt-sys-color-verde-3: #047756;
    --mlt-sys-color-verde-4: #059467;
    --mlt-sys-color-verde-5: #10B77F;
    --mlt-sys-color-verde-6: #36D399;
    --mlt-sys-color-verde-7: #6EE7B7;
    --mlt-sys-color-verde-8: #A5F3CF;
    --mlt-sys-color-verde-9: #D1FAE5;



    --mlt-sys-color-gris-1: #1A1A1A;
    --mlt-sys-color-gris-2: #3E3E3E;
    --mlt-sys-color-gris-3: #565656;
    --mlt-sys-color-gris-4: #676767;
    --mlt-sys-color-gris-5: #787878;
    --mlt-sys-color-gris-6: #858585;
    --mlt-sys-color-gris-7: #929292;
    --mlt-sys-color-gris-8: #9F9F9F;
    --mlt-sys-color-gris-9: #ABABAB;



    --mlt-sys-color-blanco-1: #B5B5B5;
    --mlt-sys-color-blanco-2: #BFBFBF;
    --mlt-sys-color-blanco-3: #C9C9C9;
    --mlt-sys-color-blanco-4: #D3D3D3;
    --mlt-sys-color-blanco-5: #DDDDDD;
    --mlt-sys-color-blanco-6: #E6E6E6;
    --mlt-sys-color-blanco-7: #EFEFEF;
    --mlt-sys-color-blanco-8: #F7F7F7;
    --mlt-sys-color-blanco-9: #FFFFFF;



    --mlt-sys-color-amarillo-1: #76350F;
    --mlt-sys-color-amarillo-2: #91400D;
    --mlt-sys-color-amarillo-3: #B35309;
    --mlt-sys-color-amarillo-4: #DB7706;
    --mlt-sys-color-amarillo-5: #F59F0A;
    --mlt-sys-color-amarillo-6: #FBBD23;
    --mlt-sys-color-amarillo-7: #FCD44F;
    --mlt-sys-color-amarillo-8: #FDE68B;
    --mlt-sys-color-amarillo-9: #FEF3C8;
}