<section class="c-cart g--padding-9">
  <h1 class="c-cart__title fw-bold g--font-montserrat-arabic">TU CARRITO</h1>

  <hr class="c-initial__hr" />

  @if (cart) {
    @if (cart!.cartItems!.length > 0) {
      <div class="c-cart__list l-flex l-flex--column l-flex--gap-6">
        @for (item of cart.cartItems; track item.id) {
          <div class="c-cart-item l-flex l-flex--gap-6 l-flex--align-center">
            <!-- Imagen -->
            <img class="c-cart-item__image" [src]="item.artwork.image" [alt]="item.artwork.name" />

            <!-- Info -->
            <div class="c-cart-item__info l-flex l-flex--column l-flex--gap-2">
              <h3 class="c-cart-item__title fw-bold">
                {{ item.artwork.name }}
              </h3>

              <p class="c-cart-item__artist">
                {{ item.artwork.userDto.name }}
              </p>

              <p class="c-cart-item__price">
                {{ item.artwork.price | currency: 'EUR' }}
              </p>
            </div>

            <!-- Cantidad -->
            <!-- Cantidad -->
            <div
              class="c-cart-item__quantity l-flex l-flex--column l-flex--align-center l-flex--gap-2"
            >
              <span>Cantidad</span>

              <div class="c-cart-item__controls l-flex l-flex--align-center l-flex--gap-3">
                <button
                  class="c-cart-item__btn c-cart-item__btn--minus"
                  (click)="decreaseQuantity(item)"
                  [disabled]="item.quantity <= 1"
                >
                  −
                </button>

                <strong>{{ item.quantity }}</strong>

                <button
                  class="c-cart-item__btn c-cart-item__btn--plus"
                  (click)="increaseQuantity(item)"
                  [disabled]="item.artwork.stock <= item.quantity"
                >
                  +
                </button>
              </div>
            </div>

            <!-- Subtotal -->
            <div class="c-cart-item__subtotal">
              {{ item.artwork.price * item.quantity | currency: 'EUR' }}
            </div>
          </div>
        }
      </div>

      <hr class="c-initial__hr" />

      <!-- Total -->
      <div class="c-cart__footer l-flex l-flex--align-center l-flex--justify-between">
        <div class="c-cart__total-wrapper">
          <span class="c-cart__total-label">Total</span>
          <strong class="c-cart__total-amount">{{ total | currency: 'EUR' }}</strong>
        </div>

        <button
          class="c-cart__checkout-btn"
          routerLink="/payment"
          [disabled]="cart.cartItems.length === 0"
        >
          TRAMITAR PEDIDO
        </button>
      </div>
    } @else {
      <div class="c-cart__empty l-flex l-flex--column l-flex--align-center g--padding-9">
        <h3 class="fw-bold g--font-montserrat-arabic">Tu carrito está vacío</h3>
        <p>Descubre obras únicas y empieza tu colección.</p>

        <a c-button funcion="normal" importancia="primaria" tamano="grande" routerLink="/artworks">
          Ver obras
        </a>
      </div>
    }
  }
</section>
