@use "../01_utilities" as *;

.c-body {
    background-color: var(--mlt-sys-color-blanco-5); 
    background-attachment: fixed;
    color: var(--mlt-sys-color-gris-1); 
    font-family:var(--mlt-sys-font-default); 
    min-height: var(--mlt-sys-height-min);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}