@use "../01_utilities" as *;

.chat-wrapper {
  --chatbot-color-strong: var(--mlt-sys-color-principal-4);
  --chatbot-color-weak: var(--mlt-sys-color-blanco-9);

  --chatbot-background-color: var(--chatbot-color-strong);
  --chatbot-border-color: var(--chatbot-color-strong);
  --chatbot-text-color: var(--chatbot-color-weak);

  --chatbot-font-family: var(--mlt-sys-font-noto-sans-arabic);
  --chatbot-font-size: var(--mlt-sys-font-size-8);

  --chatbot-padding: var(--mlt-sys-padding-3);
  --chatbot-width: var(--mlt-sys-width-70);
  --chatbot-height: var(--mlt-sys-height-70);
  --chatbot-border-radius: var(--mlt-sys-border-radius-5);

  --chatbot-box-shadow: var(--mlt-sys-shadow-lg);


  position: sticky;
  bottom: 30px;
  z-index: 100;
}

.chat-button {
  width: var(--chatbot-width);
  height: var(--chatbot-height);
  border-radius: var(--chatbot-border-radius);
  background-color: var(--chatbot-background-color);
  border: none;
  cursor: pointer;
  box-shadow: var(--chatbot-box-shadow);
  transition: transform 0.3s ease;

  &__img {
    width: var(--mlt-sys-width-40);
    height: var(--mlt-sys-height-40);
    object-fit: contain;
    margin: auto;
    z-index: 101;
  }
}

.chat-button:hover {
  transform: scale(1.1);
}

.chat-window {
  width: var(--mlt-sys-width-0);
  height: var(--mlt-sys-height-0);
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: var(--mlt-sys-border-radius-15);
  box-shadow: var(--chatbot-box-shadow);
  margin-top: var(--mlt-sys-margin-4);
  margin-bottom: var(--mlt-sys-margin-4);
}

.chat-wrapper.open .chat-window {
  width: var(--mlt-sys-width-350);
  height: var(--mlt-sys-height-500);
  opacity: 1;
}

.chat-window iframe {
  width: var(--mlt-sys-width-100);
  height: var(--mlt-sys-height-100);
  border: none;
}