<footer class="c-footer l-flex l-flex--align-center l-flex--justify-between">
    
    <div class="l-flex l-flex--row l-flex--align-center">
        <div class="c-footer__logo-icon">
            <img src="images/logo.png" alt="Logo Artyhub"/> 
        </div>
        <a class="c-footer__title g--font-montserrat-arabic fw-bold" href="#">ArtyHub</a>
    </div>

    <div class="l-flex l-flex--column l-flex--align-center l-flex--gap-1">
        <a href="#" class="c-footer__link">Política de privacidad</a>
        <a href="#" class="c-footer__link">Política de cookies</a>
        <a href="#" class="c-footer__link">Aviso legal</a>
    </div>

    <div class="l-flex l-flex--column l-flex--align-center l-flex--gap-2">
        <span class="c-footer__social-title">Contacto</span>
        <div class="l-flex l-flex--gap-3">
            <a href="https://www.instagram.com/" class="c-footer__social-icon"><img src="images/logo_ig.png" alt=""/></a>
            <a href="https://www.facebook.com/" class="c-footer__social-icon"><img src="images/logo_fb.png" alt=""/></a>
            <a href="https://x.com/" class="c-footer__social-icon"><img src="images/logo_x.png" alt=""/></a>
            <a href="https://www.linkedin.com/" class="c-footer__social-icon"><img src="images/logo_ln.png" alt=""/></a>
        </div>
    </div>

</footer>