@if(comprobarCierre) {
    <div class="c-logout l-flex l-flex--align-center g--padding-4">
        <i class="fas fa-info-circle g--margin-right-3"></i>
        <h1>¿Estás seguro que deseas cerrar sesión?</h1>
        <div class="l-flex l-flex--justify-center g--margin-top-4">
            <a c-button funcion="normal" importancia="primaria" tamano="mediano" (click)="comprobarCierre = false">Cancelar</a>
            <a c-button funcion="peligrosa" importancia="terciaria" tamano="mediano" (click)="onLogout()">Cerrar Sesión</a> 
        </div>
    </div>
}

@if (showLogoutMessage) {
    <div class="c-logout l-flex l-flex--align-center g--padding-4" [class.is-hiding]="isHiding">
        <i class="fas fa-info-circle g--margin-right-3"></i>
        Sesión cerrada correctamente. ¡Vuelve pronto!
    </div>
}

@if (menuVisible){
    <div class="c-overlay" (click)="menuVisible = false" @fadeInOut></div>
    <aside class="c-side-menu" [class.is-open]="menuVisible" @slideIn>
        <h2 class="g--padding-4">Categorías</h2>
        <nav>
            <ul class="g--list-reset">
            <li (click)="selectCategory('Todas')" class="c-side-menu__item">
                Todas <i class="fas fa-chevron-right"></i>
            </li>
            @for (cat of categories; track cat.id) {
                <li (click)="selectCategory(cat.name)" class="c-side-menu__item">
                {{ cat.name }} <i class="fas fa-chevron-right"></i>
                </li>
            }
            </ul>
        </nav>
    </aside>
}

<nav class="navbar navbar-expand-sm navbar-dark bg-color c-header">
    <div class="container-fluid">

        <div class="c-header__logo-icon">
            <img src="images/logo.png" alt="Logo Artyhub"/> 
        </div>
        <a class="c-header__title navbar-brand fw-bold g--font-montserrat-arabic" href="#">
            Artyhub
        </a>

        <button 
            class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarNav" 
            aria-controls="navbarNav" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link mt-2" (click)="onToggleMenu()">Categorías</a>
                </li>
                <li class="nav-item">
                    <button class="c-header__search-btn btn text-white-50 border-0">
                        <img src="images/lupita.png" alt="Lupa búsqueda"/>
                    </button>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto align-items-center">
                @if(isLogged){
                    <li class="nav-item">
                        <a class="nav-link" routerLink="profile">{{user?.name}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="logOut()">Log Out</a>
                    </li>
                } @else {
                    <li class="nav-item">
                        <a class="nav-link" routerLink="login">Log In</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link c-header__carrito-btn" routerLink="cart">
                        <img src="images/carrito.png" alt=""/>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>