@if (comprobarCierre) {
  <div class="c-header__toast c-header__toast--confirm">
    <i class="fas fa-sign-out-alt fa-2x" style="color: #666; margin-bottom: 0.5rem;"></i>
    <h1>¿Deseas finalizar tu sesión?</h1>
    
    <div class="toast-actions">
      <a
        c-button
        funcion="normal"
        importancia="secundaria"
        tamano="pequeno"
        (click)="comprobarCierre = false"
        style="cursor: pointer;"
      >
        Cancelar
      </a>
      
      <a
        c-button
        funcion="peligrosa"
        importancia="primaria"
        tamano="pequeno"
        (click)="onLogout()"
        style="cursor: pointer;"
      >
        Cerrar Sesión
      </a>
    </div>
  </div>
}

@if (showLogoutMessage) {
  <div class="c-header__toast c-header__toast--success" [class.is-hiding]="isHiding">
    <i class="fas fa-check-circle"></i>
    <span>Sesión cerrada correctamente. ¡Hasta pronto!</span>
  </div>
}

<nav class="navbar navbar-expand-sm navbar-dark bg-color c-header">
  <div class="container-fluid">
    <div class="c-header__logo-icon">
      <img src="images/logo.png" alt="Logo Artyhub" />
    </div>
    <a class="c-header__title navbar-brand fw-bold g--font-montserrat-arabic" href="#"> Artyhub </a>
    <a class="nav-link c-header__artworks" routerLink="artworks">Artworks</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center gap-2">
        @if (isLogged) {
          <li class="nav-item">
            <a class="nav-link" routerLink="profile"> {{ user.name }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c-header__log-out" (click)="logOut()" style="cursor: pointer;">Log Out</a>
          </li>
        } @else {
          <li class="nav-item">
            <a class="nav-link c-header__log-in" routerLink="login">Log In</a>
          </li>
        }
        <li class="nav-item">
          <a class="nav-link" routerLink="cart">
            <i class="fa-solid fa-cart-shopping c-header__carrito-icon"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>