@if(category) {
    <div class="l-flex l-flex--justify-center g--margin-top-5 l-flex--gap-5">

        <div class="l-flex l-flex--justify-center g--margin-bottom-4">
            <div class="c-card g--width-400">

                <div class="c-card__body">
                    <h5 class="c-card__title">{{ category.name }}</h5>
                </div>
                <a c-button funcion="alternativa" importancia="secundaria" tamano="mediano"
                    routerLink="/categories">
                    Volver
                </a>
            </div>
        </div>
    </div>
}