<div class="c-initial l-flex l-flex--align-center l-flex--justify-start">
    <div class="c-initial__content g--padding-8">
        <h1 class="c-initial__title fw-bold g--font-montserrat-arabic">
            NO VENDAS HAMBURGUESAS<br>VENDE ARTE
        </h1>
        <p class="c-initial__subtitle">
            ARTYHUB, TU GALERÍA
        </p>
    </div>
</div>

<hr>

<div class="l-flex l-flex--justify-center">
    <div class="g--width-1400">

        <div class="l-flex l-flex--justify-between g--margin-bottom-9">
            @for (artwork of filteredArtworks.slice(0, 2); track artwork.id) {
                <div class="c-artwork-card c-artwork-card--featured" routerLink="/artworks/{{ artwork.id }}">
                    <div class="c-artwork-card--featured__image-container">
                        <img [src]="artwork.image" [alt]="artwork.name" class="c-artwork-card__img">
                        <div class="c-artwork-card__info l-flex l-flex--justify-between l-flex--align-center">
                            <span class="c-artwork-card--featured__name">{{ artwork.name }}</span>
                            <span class="c-artwork-card__price g--font-questrial">{{ artwork.price }}€</span>
                        </div>
                    </div>
                </div>
            }
        </div>

        @if (filteredArtworks.slice(2).length > 0) {
        
        <h2 class="c-section-title fw-bold">
            Descubre nuevas obras:
        </h2>

        <div class="l-flex l-flex--wrap l-flex--justify-between">
            
                @for (artwork of filteredArtworks.slice(2); track artwork.id) {
                    <div class="c-artwork-card" routerLink="/artworks/{{ artwork.id }}">
                        <div class="c-artwork-card__image-container">
                            <img [src]="artwork.image" [alt]="artwork.name" class="c-artwork-card__img">
                            <div class="c-artwork-card__info l-flex l-flex--justify-between l-flex--align-center">
                                <span class="c-artwork-card__name">{{ artwork.name }}</span>
                                <span class="c-artwork-card__price g--font-questrial">{{ artwork.price }}€</span>
                            </div>
                        </div>
                    </div>
                }
        </div>
        }
    </div>
</div>
<c-chatbot></c-chatbot>